@page "/SetToken"
@using DataEditor.Core.Services
<h3>SetToken</h3>
@inject GitService service
@inject ISnackbar Snackbar

<MudTextField T="string" @bind-Value="token"></MudTextField>


<MudButton OnClick="Save" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
@code {
    string token;


    protected override async Task OnInitializedAsync()
    {
        
    }

    public void Save()
    {
        service.SetCredentials(token);
        Snackbar.Add("Token Saved!", Severity.Success);
    }
}
